# Ignore artifacts:
build
coverage

# Ignore all HTML files:
**/*.html

**/.git
**/.svn
**/.hg
**/node_modules

.next/
.cache/
public/
dist/
package-lock.json
next-env.d.ts
next.config.ts
pnpm-lock.yaml